body {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
div{
    gap:5px;
 
}
div li{
    list-style: none;
    line-height: 2;
   
    cursor:pointer;
}
.box{
    display: block;
}
.strike {
    display: none;
}
.line{
    text-decoration: line-through;
}
